@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.text{
    color: red;
    background-color: green;
    font-size: 3em;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
    /* text-align: center; */
    font-style: italic;
    letter-spacing: 50px;
    /* line-height: 15px; */
    /* float: right; */
    /* font-variant: small-caps; */
    text-align: justify;
    /* text-decoration: line-through; */
    text-transform: lowercase;
text-shadow: 10px 10px rgba(0, 0, 0, 0.413);}

.text1{
    /* line-height: 60px;
    text-indent: 50px;
    word-spacing: 30px; */
    font: italic small-caps bold 16px/30px 'poppins', sans-serif;
}
.box{
    width: 200px;
    height: 200px;
    /* background-image: url(./Images/pics.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    margin:10px 20px 30px 40px;
    padding: 10px 20px 30px 40px;
    background-color: rebeccapurple;
    border-radius: 10px 5px 5px 10px;
    border: 5px dotted black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/pics.jpg);
    color: rgba(0, 0, 0, 0.669);
    opacity: .5;
}

/* Static
Fixed
Sticky
Relative
Absolute
*/
/* .newtext{
    position: fixed;
    width: 100%;
    top:150px
} */
 .newtext{
    position: sticky;
    top: 0;
    }
.boxes{
    position: relative;
    width: 200px;   
    height: 200px;
    background-color: red;
}
.box1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    top: 0;
    left: 0;
}